<div id="navbar-wrapper" style="position: fixed;">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <span><img style="width: 10%;" src="https://iiitn.ac.in/images/main-logo-90x90.png" alt="logo-image"/></span>
                <a href="/" class="navbar-brand"><b>College Management System</b></a>
            </div>
        </div>
    </nav>
</div>