<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Portal</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="CSS/main.css">
    <link rel="stylesheet" href="CSS/student-dashboard.css">
    <link rel="stylesheet" href="CSS/student-profile.css">
</head>

<body>
    <img style="position: absolute;opacity: 0.5; margin-top: 20%; margin-left: 42%;" src="/images/NewsDocument.png" alt="IIITNimage"/>
    <div class="logo-container hidden-xs">
        <div class="container">
            <div class="row mainscroll">
                <div class="col-md-12" style="margin-top: 10px; display: flex;">
                    <div class="pull-left logo-header-left">
                        <a href="https://iiitn.ac.in/" class="navbar-brand"><img src="https://iiitn.ac.in/images/main-logo-90x90.png" alt="Indian Institute of Information Technology, Nagpur" class="img-responsive"></a>
                    </div>
                    <div class="pull-left logo-header-text">
                        <h2 class="logo-text-hindi">भारतीय सूचना प्रौद्योगिकी संस्थान, नागपुर</h2>
                        <h2 class="logo-text-english">Indian Institute of Information Technology, Nagpur</h2>
                        <h6 class="logo-subtext">An Institution of National Importance By An Act of Parliament</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr color="orangered" style="height: 3px;margin-top: 0rem;"/>

    <!-- <div id="navbar-wrapper" style="position: fixed;">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <span><img style="width: 7%; border-radius: 10px;" src="/html/body/div[1]/div[2]/div[3]/div/div/div" alt="logo-image"/></span>
                    <a href="/" class="navbar-brand"><b>College Management System</b></a>
                </div>
            </div>
        </nav>
    </div> -->

    <div class="container" style="vertical-align: center; height: 100%;">
        <div class="row">
            <div class="col-md-6">
                <h3 style="font-size: xx-large;">Welcome to College Portal</h3>
                <p style="font-size: large;">This Site that provides most functionality to manage
                    enrollment, students, faculty,
                    scheduling test.</p>
                <a href="/index" class="btn btn-primary">Explore</a>
            </div>
            <!-- <div class="col-md-6 pt-2" style="padding-left: 10vw;">
                <img style="max-width: 70%;border-radius: 70px;" src="/images/shield3.jpeg" alt="image">
            </div> -->
        </div>
    </div>

    <footer class="container" style="align-items: center; padding-top: 38vh; text-align: center;">
        <p>The work crafted by <span style="color: #2a4de9;">Group 10</span></p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
        </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
        </script>
</body>

</html>